// -----------------------------------------------------------------------------
// FONT

@mixin primary_font {
    font-family: "Nunito", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
}



// -----------------------------------------------------------------------------
// BUTTONS

@mixin primary_button_style {
    border: none;
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    text-transform: uppercase;

    background-color: #fefefe;
    color: #3d3d3d;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #3d3d3d;
        color: #fefefe;
    }
}


@mixin footer_button_style_pills {
    border: none;
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    text-transform: uppercase;

    background-color: #3d3d3d;
    color: #fefefe;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #fefefe;
        color: #3d3d3d;
    }
}

@mixin shopping_cart_button {
    border: none;
    text-decoration: none;
    border-radius: 1.5rem;
    text-transform: uppercase;

    background-color: #3d3d3d;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #f2ca39;
        color: #3d3d3d;
    }
}
@mixin shopping_cart_button_small {
    border: none;
    text-decoration: none;
    border-radius: 1.5rem;
    text-transform: uppercase;

    background-color: #c1c1c1;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: #f2ca39;
        color: #3d3d3d;
    }
}

@mixin checkout_btn {
    border: none;
    background-color: #f2ca39;
    color: #37373b;
    font-weight: bolder;
    padding: 0.4rem 0.4rem;
    border-radius: 1.5rem;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: #e6b400;
        
    }
}


@mixin tag_type_btn {
    padding: 6px 12px;
    min-width: fit-content;
    border-radius: 20px;
    border: 1px solid #fefefe;
    
    
    background-color: #37373b;
    color: #ffffff;
    font-weight: 600;
    
    transition: all 0.2s linear;
}

@mixin type_single_pill {

    background-color: #37373b;
    color: #ffffff;
    padding: 0.1rem 0.3em;
    border-radius: 6px;
    text-align: center;

    font-weight: 700;
    gap: .1rem;
    font-size: 0.9rem;
    color: #ffffff (1);
    opacity: 0.9;
}            

@mixin circular_btn {

    .circular_badge {
            width: 25px;
            height: 25px;
            
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 1px;
            border-radius: 50%;
            background-color: #f6f7f8;
            border: 1px solid #949494;
    
        }
    
        i {
            font-size: 0.7rem;
            margin: 0 !important;
            color: #37373b;
            
    
        }
}

// -----------------------------------------------------------------------------

@mixin loader {
    // width: 50px;
    // aspect-ratio: 1;
    // border-radius: 50%;
    // background: 
    // radial-gradient(farthest-side,#f2ca39 95%,#0000) 50% 1px/12px 12px no-repeat,
    // radial-gradient(farthest-side,#0000 calc(100% - 14px),#ccc 0);
    // animation: l9 2s infinite linear;
}


// -----------------------------------------------------------------------------
// LINKS


@mixin nav_links_style {
    border: none;
    text-decoration: none;
    color: #f6f7f8 !important;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        color: #f2ca39 !important;
    }
}

@mixin restaurant_button_style {
    cursor: pointer;

    padding: 6px 12px;
    width: 8rem;
    border-radius: 20px;
    border: 1px solid #fefefe;

    background-color: #fefefe;
    color: #36373b;
    font-weight: 600;

    transition: all 0.2s linear;
}

// SHOPPING CART

@mixin shopping_cart_behavior {

    .checkout_btn {
            @include checkout_btn;
    
            @media (max-width: 1200px) {
                border-radius: 0;
                border-top-right-radius: 15px !important;
                border-top-left-radius: 15px !important;
            }
        }
    
        @media (max-width: 1200px) {
            .cart_box {
                padding: 0 !important;
            }
    
            .curtain_checkout_btn {
                height: 100vh;
                background-color: #37373b;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        
            .cart_body {
                display: none;
            }
        }
}