$primary_color: #37373b;
$secondary_color: #f2ca39;
$tertiary_color: #7cadf4;
$background_color: #fefefe;
$background_color_dark: #f8f8f6;
// $text_color: #3d3d3d;
$text_color: #36373b;
$text_color_highlight: #f5f5f5;
$deactivated_text: #949494;