$primary_color: #3d3d3d;
$secondary_color: #f2ca39;
$tertiary_color: #7cadf4;
$background_color: #ffffff;
$background_color_dark: #f6f7f8;
$text_color: #3d3d3d;
$text_color_highlight: #ffffff;
$deactivated_text: #949494;